default_layout "compact"
theme "iceberg-dark"

ui {
    pane_frames {
        hide_session_name true
    }
}
show_startup_tips false
show_release_notes false
simplified_ui true
pane_frames false

web_client {
    font "monospace"
}

keybinds {
    normal {
        unbind "Ctrl o"
    }
    locked {
        unbind "Ctrl o"
    }
}

